@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
.layout {
  display: flex;
  flex-direction: column;
  background-color: #fefae0;
}

.layout-children {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 2;
  padding: 20vh;
}
