.post {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 1px black solid;
  height: 300px;
  width: 260px;
  padding: 5px;
}

a {
  text-decoration: none;
}

.post-image {
  display: flex;
  justify-content: flex-end;
  height: 150px;
  width: auto;
  margin: 2px;
  overflow: auto;
}
