.container {
  background-color: #fefae0;
}
.detail-container {
  display: flex;
  flex-direction: column;
  background-color: #fefae0;
  margin: 50px 50px 0px 50px;
}
.detail-title {
  font-size: 50px;
  border-bottom: 2px solid grey;
  margin-bottom: 30px;
  font-weight: bold;
  text-decoration: border;
  color: #767e5b;
  z-index: 1;
  order: 1;
}
.detail-author {
  font-size: 20px;
  order: 1;
  text-align: left;
  color: gray;
}
.detail-img img {
  justify-content: center;
  height: 200vh;
  width: 200vw;
  object-fit: contain;
  background-size: contain;
}
.detail-content {
  font-size: 18px;
  text-align: left;
  flex-flow: wrap;
  padding: 20px;
  order: 2;

  /* for smaller screen display: block;
  height: 200px;
  overflow: scroll; */
}
.detail-buttons {
  order: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.detail-container button {
  padding: 10px;
  margin: 10px;
  justify-content: center;
  background: #ccd5ae;
  align-items: baseline;
  border: none;
}
.detail-container button:hover {
  background: #d1d6c1;
  font-size: 25px;
}
a:visited {
  text-decoration: none;
  color: black;
}
.edit-link a {
  text-decoration: none;
  color: black;
}
