.detail-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100vw;
}
.detail-col1 {
  display: flex;
  flex-direction: column;
}
.detail-col2 {
  display: flex;
  flex-direction: column;
}
.detail-title {
  font-size: 45px;
  text-align: left;
  border-bottom: 2px solid grey;
  margin-bottom: 10px;
  font-weight: bold;
  text-decoration: border;
  color: #767e5b;
  z-index: 1;
  order: 1;
}
.detail-author {
  font-size: 20px;
  order: 2;
  text-align: left;
  color: gray;
}
.detail-image {
  align-self: center;
  max-width: 50vw;
  order: 3;
}
.detail-content {
  font-size: 18px;
  text-align: left;
  padding: 20px;
  margin-top: 10vh;
  order: 1;
  height: 70vh;
  overflow: scroll;
}
.detail-buttons {
  order: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.detail-container button {
  padding: 10px;
  margin: 10px;
  justify-content: center;
  background: #ccd5ae;
  color: black;
  align-items: baseline;
  border: none;
  box-shadow: 4px 4px #767e5b85;
  font-size: 25px;
}
.detail-container button:hover {
  background: #d1d6c1;
  font-size: 28px;
}
a:visited {
  text-decoration: none;
  color: black;
}
.edit-link a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 800px) {
  .detail-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100vw;
  }
  .detail-content {
    font-size: 15px;
    display: block;
    height: 30vh;
    overflow: scroll;
  }
}
