@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");
.detail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100vw;
}
.detail-col1 {
  display: flex;
  flex-direction: column;
}
.detail-col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.detail-title {
  font-size: 45px;
  text-align: left;
  font-family: "Skranji", cursive;
  border-bottom: 2px solid #ccd5ae;
  margin-bottom: 10px;
  font-weight: bold;
  text-decoration: border;
  color: #767e5b;
  z-index: 1;
  order: 1;
}
.detail-author {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  order: 2;
  text-align: left;
  color: #767e5b;
}
.detail-image {
  align-self: center;
  max-width: 50vw;
  order: 3;
  box-shadow: 2px 4px 3px 2px #d4a373;
}
.detail-content {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: left;
  padding: 20px;
  margin-top: 10vh;
  order: 1;
  height: 40vh;
  overflow: scroll;
}
.detail-buttons {
  order: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.detail-container button {
  font-family: "Raleway", sans-serif;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  background: #ccd5ae;
  color: black;
  align-items: baseline;
  border: none;
  box-shadow: 2px 4px 4px #767e5b85;
  font-size: 25px;
}
.detail-container button:hover {
  background: #e9edc9;
  font-size: 26px;
}
a:visited {
  text-decoration: none;
  color: black;
}
.edit-link a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 1000px) {
  .detail-image {
    align-self: center;
    max-width: 40vw;
    order: 3;
    box-shadow: 2px 4px 3px 2px #d4a373;
  }
  .detail-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100vw;
  }
  .detail-content {
    font-size: 15px;
    display: block;
    height: 30vh;
    overflow: scroll;
    margin-top: 0;
  }
}
@media only screen and (max-width: 700px) {
  .detail-title {
    font-size: 30px;
  }
  .detail-author {
    font-size: 15px;
  }
  .detail-container button {
    font-size: 15px;
  }
}
