@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

nav {
  flex: 3r;
  position: fixed;
  width: 100%;
  background-color: #ccd5ae;
  z-index: 5;
  top: 0;
  left: 0;
  font-family: "Raleway", sans-serif;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 25px 0;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  box-shadow: 1px 1px 1px 0.3px #fefae0;
  width: 100%;
}

.logo {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;
  flex: 1;
  max-width: 25%;
  margin-left: 30px;
}

.logo:hover {
  
}

.links {
  flex: 2;
  max-width: 20vw;
  align-items: center;
  font-size: 19px;
  display: flex;
  text-transform: uppercase;
  margin-right: 50px;
}

.link {
  flex: 1;
  transition: 300ms all;
}

.link:hover {
    transform: scale(1.06);
}

a {
  text-decoration: none;
  color: #4d5926;
}

@media (max-width: 500px) {
  .nav {
    padding: 10px 0;
  }
  .logo {
    display: inline-flex;
    text-align: justify;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    transition: 300ms all;
    margin-left: 35px;
  }
  a {
    font-size: 12px;
  }
}
